[[set . "title" "Home"]]
[[template "header.html" .]]

<div class="container-fluid">
  <header id="header">
    <h1>Top Page</h1>
  </header><!-- /header -->

  <div class="row-fluid">
    <!-- User Login -->
    <div>
      <h2>User Login</h2>
      <form action="/api/v1/users/" method="POST" accept-charset="utf-8">

        <!-- User Name Input Field -->
        <div class="form-group">
          <input class="form-control" 
                type="text" 
                name="username"
                id="usernameinput"
                placeholder="Your User Name">
        </div> <!-- form-group -->

        <!-- Email Input Field -->
        <div class="form-group">
          <input class="form-control" 
                type="email" 
                name="email" 
                placeholder="your e-mail">
        </div> <!-- form-group -->

        <!-- Login Button -->
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

      <h2>Make New User Account</h2>
      <form action="/api/v1/users/new" method="POST" accept-charset="utf-8">
        <!-- User Name Input Field -->
        <div class="form-group">
          <input class="form-control" 
                type="text" 
                name="username"
                id="usernameinput"
                placeholder="Your User Name">
        </div> <!-- form-group -->

        <!-- Email Input Field -->
        <div class="form-group">
          <input class="form-control" 
                type="email" 
                name="email" 
                placeholder="your e-mail">
        </div> <!-- form-group -->

        <!-- Email Input Field -->
        <div class="form-group">
          <input class="form-control" 
                type="email" 
                name="retypeemail" 
                placeholder="re-type your e-mail">
        </div> <!-- form-group -->

        <!-- Login Button -->
        <button type="submit" class="btn btn-default">Create</button>
      </form> 
    </div><!-- /span6 -->
  </div><!-- /row -->
</div><!-- /container -->

[[template "footer.html" .]]
